# Pycache stuff
uatg/modules/__pycache__/
uatg/modules/branch_predictor/__pycache__/
uatg/modules/branch_predictor/tests/
**.pyc
**.pyo

# Modules Directory and Repo
config.ini
*.yaml
uatg/regex_formats.py


# Build Directory
work/
uatg/temp/*
uatg/work/*

# Assembly, Plugins
**.S
**.yapsy-plugin

# IDE Settings
.idea/*

.*
!.github
*.egg-info
docs/build/
uatg/target/*
uatg/*.yaml
