uarch_test/asm_tests/
uarch_test/modules/__pycache__/
uarch_test/modules/branch_predictor/__pycache__/
uarch_test/modules/branch_predictor/tests/
**.pyc
**.pyo
**.S
**.yapsy-plugin
.idea/*
uarch_test/path.txt
.*
*.egg-info
docs/build/
uarch_test/target/*
work/
uarch_test/temp/*
uarch_test/work/*