uarch_test/asm_tests/
uarch_test/tests/__pycache__/
uarch_test/tests/bpu/__pycache__/
uarch_test/tests/bpu/tests/
**.pyc
**.pyo
**.S
**.yapsy-plugin
.idea/*
uarch_test/path.txt
.*
*.egg-info
docs/build/
uarch_test/target/*