include LICENSE.incore
include README.md
include utg/requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.S
recursive-exclude * *.yapsy-plugin
recursive-exclude utg/modules/ *
